---
import Nav from "../components/Nav.astro";
import '../styles/global.css';

---

<style>   
   .bg{
        background: url(https://i.imgur.com/y1XdmZK.png);
        background-size: cover;
        background-position: bottom left;
        background-repeat: no-repeat;
    }
    
   
</style>

<header class="flex">

    <div class="flex-shrink-0">
       <a href="/"> <img src= "https://i.imgur.com/hPLCUc2.jpg" class="img-emblem" alt="Emblem with the names Einar and Christiane"  /></a>
    </div>
    <div class="w-full bg">
        <Nav/>
    </div>
</header>
