---
import Nav from "../components/Nav.astro";
import '../styles/global.css';

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    header {
      display: flex;
      align-items: center;
      height: 23vh; /* 30% of the viewport height */
      max-height: 480px; /* Adjust as needed */
      min-height: 225px;
      background-color: #f0f0f0; /* Adjust as needed */
    }

    #emblem {
   
      max-height: 100%;
      min-height: 100%;
      object-fit: contain;
    }

    #nav-background {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      background: url('https://i.imgur.com/84SKNSO.png') center/cover no-repeat; /* Replace 'background-image.jpg' with your image */
      background-size: cover; /* Cover the entire container */
      background-position: center; /* Center the background image */
      justify-content: flex-end;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nav-item {
      width: 8vh; /* Adjust as needed */
      min-width: 73px;
      height: 8vh;
      min-height: 73px;
      padding: 10px; /* Adjust as needed */
      margin: 5px; /* Adjust as needed */
      margin-right: 30px;
      border-radius: 50%;
      background-color: #9f2b38; /* Adjust as needed */
      color: #FDE481; /* Adjust as needed */
      font-size: medium;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }

    #emblem-container {
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        object-fit: contain;
      }

    
    @media (min-width: 945px) {
        header {
            height: 30vh;
            max-height: 400px; 

      }

      #emblem {
        height: 100%;

      }

      #nav-background {
        
      }
      .nav-item{
        width: 12vh; /* Adjust as needed */
      height: 12vh;
      }
    }
  </style>
</head>

  <header>
    <div id="emblem-container">
        <a href="/">
            <img id="emblem" src="https://i.imgur.com/hJ30MCP.png" alt="Emblem">
        </a>
    </div>
    <div id="nav-background">
      <nav>
        
            <div class="nav-item"> <a href="/info/">Infor- masjon </a></div>
       
        <div class="nav-item"><a href="/onskeliste/">Ønske -liste</a></div>
      </nav>
    </div>
  </header>

  <!-- Your website content goes here -->
  
</html>

</BaseLayout>
