---
import '../styles/global.css';
---
<style>
   
    .circle{
        height: 10vh;
        width: 10vh;
        object-fit: cover;
        object-position: bottom-left;
        display: table-cell;
        text-align: center;
        font-size: 3.5vh;
        line-height: 1;
        color: #FDE481;
        vertical-align: middle;
        border-radius: 50%; /* may require vendor prefixes */
        background: #9f2b38;
        text-decoration: none;
        
        }
    
</style>

<nav class="flex flex-col h-full items-center justify-center gap-2">

    <a href="/rsvp/">
        <div class = "circle">
        Svar her
    </div>
    </a>
    <a href="/onskeliste/">
        <div class = "circle">
        Ønske -liste
    </div>
    </a>
</nav>