---
import '../styles/global.css';
---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/onskeliste/">Ønskeliste</a></li>
        <li> <a href="/rsvp/">RSVP</a></li>
    </ul>
</nav>